/* TODO: Have your plugin's CSS files generated to here. */
	

#settings_plugin_usb_keyboard

button#keyboardKey {
/*  transition-duration: 0.4s;*/
  text-align: center;
/*  border-radius: 12px;*/
/*  transform: scale(2);*/
  width: 46.5px;
  height: 45px;
}

#settings_plugin_usb_keyboard
table#profileTable {
  text-align: center;
}

#settings_plugin_usb_keyboard
select#profileSelect {
  font-size: large;
}
