/* TODO: Have your plugin's CSS files generated to here. */
	

/*#settings_plugin_usb_keyboard button#keyboardKey {
  transition-duration: 0.4s;
  text-align: center;
  border-radius: 12px;
  transform: scale(2);
  width: 46.5px;
  height: 45px;
}*/



#settings_plugin_usb_keyboard table#profileTable {
  text-align: center;
}

#settings_plugin_usb_keyboard select.profileSelect {
  font-size: large;
}

#settings_plugin_usb_keyboard div.infoDiv {
  float:right;
  position:absolute;
  right:0;
  top:20%;
  border-radius: 6px;
  border: 1px solid rgba(0,0,0,0.3);
  background: rgba(255,255,255,1.0);
}


#settings_plugin_usb_keyboard select {
  width:18ch;
  vertical-align:middle;
  margin-bottom:0px;
}

/*#settings_plugin_usb_keyboard td {
  display:table-cell;
}*/

#settings_plugin_usb_keyboard .sliderCell tr td {
  height: 100px;
  padding: 50px;
}

/*#settings_plugin_usb_keyboard .spacerCell tr td {


}*/

#settings_plugin_usb_keyboard .keyboardTable td {
/*  border: 1px solid #ddd;*/
  overflow: hidden;
/*  display: table-column;*/
/*  white-space: nowrap;*/
  padding: 0; 
  margin: 0;
  vertical-align:middle;
  text-align:center;
}

#settings_plugin_usb_keyboard table.commandTable {
  text-align:left;
}

#settings_plugin_usb_keyboard button.keyboardKey {
  overflow: hidden;
  white-space: normal;
  padding: 0; 
  margin: 0;
}

#settings_plugin_usb_keyboard .keyboardTable {
  table-layout:fixed;
  vertical-align:middle;
  text-align:center;
}
/*
#settings_plugin_usb_keyboard .keyboardSpacer {
  width:0px;
}*/

#settings_plugin_usb_keyboard li {
  vertical-align:middle;
}

#settings_plugin_usb_keyboard input {
  width:18ch;   
}

#settings_plugin_usb_keyboard input.temperature {
  width:4ch;   
}

#settings_plugin_usb_keyboard input.centered {
  text-align:center;
}

#settings_plugin_usb_keyboard input.gcodeLine {
  width:30ch;   
}

#settings_plugin_usb_keyboard textarea.profileDescription {
  overflow: auto;
  width:70ch;
  resize: none;
}

#settings_plugin_usb_keyboard div.keyboardDataStream {
  text-align: right;
  border-radius: 6px;
  border: 1px solid rgba(0,0,0,0.3);
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  float: right;
}