<template id='template-sfr-keyboard'>
  <span><strong>Keyboard</strong></span>&emsp;<button class="btn btn-default" data-bind="css: lockedClass, click: toggleLock"></button>
  <input type="number" style="width: 200px" data-bind="attr: {disabled: locked}, slider: {min: 2, max: 6, step: .5, value: keyboardScale, tooltip: 'hide'}">
  <table>
    <tbody>
      <!-- ko foreach: keyboard -->
      <tr>
        <td>
          <sfr-keyboard-row params='keys: $data.keys, keyboardScale: $parent.keyboardScale, row: $index, profile: $parentContext.$data.profile, locked: $parentContext.$data.locked'></sfr-keyboard-row>
        </td>
      </tr>
      <!-- /ko -->
      <tr>
        <td>
          <button class="btn btn-primary" data-bind="click: addRow, attr: {disabled: locked}">{{ _('+') }}</button>
          <button class="btn btn-danger" data-bind="click: deleteRow, attr: {disabled: locked}">{{ _('-') }}</button>
        </td>
      </tr>
    </tbody>
  </table>
</template>

<template id="template-sfr-keyboard-row">
  <table>
    <tr>
       <!-- ko foreach: keys -->
      <td>
        <sfr-keyboard-row-key params='text: $data, keyboardScale: $parent.keyboardScale, column: $index, row: $parent.row, profile: $parent.profile, locked: $parentContext.$data.locked'></sfr-keyboard-row-key>
      </td>
      <!-- /ko -->
      <td>
        <button class='btn btn-primary' data-bind='click: addKey, attr: {disabled: locked}'>{{ _('+') }}</button>
        <button class='btn btn-danger' data-bind='click: deleteKey, attr: {disabled: locked}'>{{ _('-') }}</button>
      </td>
    </tr>
  </table>
</template>

<template id="template-sfr-keyboard-row-key">
  <button class="btn btn-default" id="keyboardKey" data-bind="text: text, click: configureKey, style: { width: calcWidth(), height: calcHeight(), opacity: text() == null ? 0.4 : 1.0 }, attr: {disabled: locked}"></button>
</template>