{% include 'template_sfr_keyboard.jinja2' %}
{% include 'template_sfr_commands.jinja2' %}
{% include 'template_sfr_variables.jinja2' %}


<template id='template-sfr-profile'>
  <span><strong>Profile</strong></span>
  &emsp;<button class="btn btn-default" data-bind="css: lockedClass, click: toggleLock"></button>
  &nbsp;<button class="btn btn-default fa fa-arrow-up" data-bind="click: moveSelfUp"></button>
  &nbsp;<button class="btn btn-default fa fa-arrow-down" data-bind="click: moveSelfDown"></button>
  &nbsp;<button class="btn" data-bind="css: infoClass, click: toggleInfo"></button>
  <div data-bind="visible: showingInfo">
    <hr>
    <p><b>Profile Management</b>&emsp;<button class="btn" data-bind="css: infoClass, click: toggleInfo"></button></p>
    <ul>
      <li>
        <button class="btn btn-default" data-bind="css: lockedClass"></button> locks/unlocks the textfields and buttons.
      </li>
      <li>
        <button class="btn btn-default fa fa-arrow-up"></button><button class="btn btn-default fa fa-arrow-down"></button> Moves current profile up/down respectively in the list.
        Purely organizational.
      </li>
      <li>
        <input placeholder="Enter name..." /> lets you type a new name for the current profile.
      </li>
      <li>
        <button class="btn btn-default fa fa-pencil"></button> actually assigns the name you put in the <input placeholder="Enter name..." /> textbox.
        Duplicate profile names will be prepended with *.
      </li>
      <li>
        <button class="btn btn-default fa fa-files-o"></button> duplicates the current profile and sets it as your currently active profile.
        A great way to back things up before experimenting.
      </li>
      <li>
        <button class="btn btn-default fa fa-download"></button> lets you download the current profile for backup/transfer purposes.
      </li>
      <li>
        <button class="btn btn-danger">{{ _('-') }}</button> deletes the current profile. Poof. Gone.
      </li>
      <li>
        <textarea placeholder="Enter a description here..." style="resize: none" rows="1" cols="20"></textarea> lets you type up a description of your profile.
        Helps you remember what it is for and what it can do. 2000 characters max.
      </li>
    </ul>
    <p>Each profile is made up of three sections: <b>Keyboard</b>, <b>Commands</b>, and <b>Variables</b>.</p>
    <hr>
  </div>
  
  <table>
    <tr>
      <td><input placeholder="Enter name..." data-bind="textInput: newProfileName, attr: {disabled: locked}"/></td>
      <td><button class="btn btn-default fa fa-pencil" data-bind="click: editProfileName, attr: {disabled: locked}"></button></td>
      <td><button class="btn btn-default fa fa-files-o" data-bind="click: duplicateProfile, attr: {disabled: locked}"></button></td>
      <td><a class="btn btn-default fa fa-download" data-bind="attr: {href: exportProfileData(), download: exportProfileName(), disabled: locked}"></a></td>
      <td><button class="btn btn-danger" data-bind="click: deleteSelf, attr: {disabled: locked}">{{ _('-') }}</button></td>
    </tr>
  </table>
  <textarea class="profileDescription" placeholder="Enter a description here..." maxlength=2000 data-bind="textInput: description, attr: {disabled: locked, rows: description() == null ? 1 : Math.ceil(description().length / 70) }"></textarea>
  <br>

  <hr>
  <sfr-keyboard params='keyboard: keyboard, commands: commands, profile: profile'></sfr-keyboard>
  <hr>
  <sfr-commands params='commands: commands, profile: profile, profileNames: profileNames, allowedVariables: allowedVariables'></sfr-commands>
  <hr>
  <sfr-variables params='variables: variables, profile: profile'></sfr-variables>
  
</template>