{% include 'template_sfr_profile.jinja2' %}


<div class="keyboardDataStream">
  <button class="btn btn-default" data-bind="css: expandedClass, click: toggleExpanded"></button>
  <table data-bind="foreach: activeListeningText, visible: expanded">
    <tr>
      <td style="text-align:right" data-bind="text: $data"></td>
    </tr>
  </table>
</div>



<h2>
  USB Keyboard Settings <button class="btn btn-warning" style="float:right" data-bind="click: configureDevice">{{ _('Device listener configuration') }}</button>
</h2>

<table>
  <thead>
    <tr>
      <td><strong>Active Profile:</strong></td>
      <td><select class="profileSelect" data-bind="options: profileNames, value: activeProfileName"></select></td>
      <td><button class="btn btn-primary" data-bind="click: createProfile">{{ _('+') }}</button></td>
      <td><input id="uploadButton" type="file" data-bind="file: {data: fileData, name: fileName, allowed:'application/json'}" hidden=true>
          <label class="btn btn-default fa fa-upload" for="uploadButton"></label></td>
      <td><button class="btn" data-bind="css: infoClass, click: toggleInfo"></button></td>
    </tr>
  </thead>
</table>

<div data-bind="visible: showingInfo">
  <hr>
  <p><b>USB Keyboard Plugin Settings</b>&emsp;<button class="btn" data-bind="css: infoClass, click: toggleInfo"></button></p>
  <ul>
    <li>
      <select class="profileSelect" data-bind="options: profileNames"></select> allows you to select the active profile.
    </li>
    <li>
      <button class="btn btn-primary">{{ _('+') }}</button> creates a new profile and makes it active.
    </li>
    <li>
      <button class="btn btn-default fa fa-upload"></button> lets you select and upload a previously downloaded profile.
      If a duplicate profile name is found, it will prepend the name with *.
      The uploaded profile then becomes the active profile.
    </li>
    <li>
      <button class="btn btn-warning">{{ _('Device listener configuration') }}</button> opens the <b>Device Configuration</b> modal.
      Mac and Windows users shouldn't need to do any configuration,
      but Linux users may need to select the right input path to connect to the correct device.
    </li>
    <li>
      <button class="btn btn-default" data-bind="css: expandedClass"></button> to the top right shows/hides the keyboard datastream.
      Use it to see what octoprint is picking up from your keyboard. The key name within single quotes is the same name as used for 
      commands and the keyboard keys. Feel free to copy/paste them if you want.
    </li>
  </ul>
  <hr>
</div>

<hr>

<div data-bind="foreach: profiles">
  <sfr-profile params='profileObject: $data, profileArray: $parent.profiles, profileNames: $parent.profileNames, activeProfileName: $parent.activeProfileName' data-bind="visible: $data.key() == $parent.activeProfileName()"></sfr-profile>
</div>

<div id="UsbDeviceConfigModal" class="modal hide fade"><!-- data-bind="visible: configuringDevice"  -->
  <div class="modal-header">
    <a href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
    <h3>{{ _('Device Configuration') }}</h3>
  </div>
  <div class="modal-body">
    <span><strong>Device data from backend:</strong></span>
    <pre data-bind="text: deviceQueryMessage"></pre>
    <table>
      <tr data-bind="visible: devicePathOptions().length > -0">
        <td><select data-bind="options: devicePathOptions, value: trialDevicePath"></select></td>
        <td><button class="btn btn-default" data-bind="click: changeDevicePath">{{ _('Try Device') }}</button></td>
      </tr>
      <tr data-bind="visible: devicePathOptions().length > -0">
        <td>Current device path:</td>
        <td data-bind="text: devicePath"></td>
      </tr>
      <tr>
        <td>Data coming from the listener:</td>
      </tr>
      <!-- ko foreach: activeListeningText -->
      <tr>
        <td></td>
        <td data-bind="text: $data"></td>
      </tr>
      <!-- /ko -->
    </table>
  </div>
  <div class="modal-footer">
    <small>Make sure to click save in the main settings after making changes here.</small> <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">{{ _('Close') }}</a>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>You found my secret text!</p>