{% include 'template_sfr_profile.jinja2' %}

<h2>
  USB Keyboard Settings
</h2>

<table>
  <thead>
    <tr>
      <td><strong>Active Profile:</strong></td>
      <td><select data-bind="options: profileNames, value: activeProfileName"></select></td>
      <td><button class="btn btn-primary" data-bind="click: createProfile">{{ _('+') }}</button></td>
    </tr>
    <tr>
      <td data-bind="visible: dupeDetected"><span><strong>*** Duplicate profile name detected! ***</strong></span></td>
    <tr>
  </thead>
</table>
<hr>
<div data-bind="foreach: profiles">
  <sfr-profile params='profileObject: $data, profileArray: $parent.profiles, profileNames: $parent.profileNames, activeProfileName: $parent.activeProfileName' data-bind="visible: $data.key() == $parent.activeProfileName()"></sfr-profile>
</div>
