<h2>
  USB Keyboard Settings
</h2>

<table>
  <thead>
    <tr>
      <td><strong>Active Profile:</strong></td>
      <td data-bind="text: activeProfileName"></td>
      <!-- <td><select data-bind="options: profileNames,
                             value: activeProfileName,
                             optionsCaption: 'Choose...'"></select></td> -->
    </tr>
  </thead>
</table>

<div data-bind="keyvalue: profiles">
  <table>
    <tr>
      <td><strong>Profile:</strong></td>
      <td data-bind="text: key"></td>
      <!-- <td><input data-bind="textInput: key"/></td>  DOESN'T WORK -->
    </tr>
    <!-- <tr>
      <td data-bind="text: value"></td>
    </tr> -->
  </table>
  
  <table data-bind="foreach: value.keyboard">
    <tr data-bind="foreach: $data.row">
      <!-- <td data-bind="text: $data"></td> -->
      <td><button class="btn btn-default" id="keyboardKey" data-bind="text: $data, click: $root.configureKey.bind($data, $data, $parentContext.$index(), $index(), $parentContext), style: { opacity: $data == null ? 0.4 : 1.0 }"></button></td>
    </tr>
  </table>
  
  <table>
    <tbody data-bind="keyvalue: value.commands">
      <tr>
        <td data-bind="text: key"></td>
        <td>
          <table>
            <tr>
              <td>Pressed</td>
              <td>
                <table data-bind="foreach: value.pressed">
                  <tr data-bind="keyvalue: $data">
                    <td></td>
                    <td data-bind="text: key"></td>
                    <td data-bind="text: value"></td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td>Released</td>
              <td>
                <table data-bind="foreach: value.released">
                  
                  <tr data-bind="keyvalue: $data">
                    <td></td>
                    <td data-bind="text: key"></td>
                    <td data-bind="text: value"></td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td>Variable Values</td>
              <td>
                <table data-bind="keyvalue: value.variable_values">
                  <tr>
                    <td data-bind="text: key"></td>
                    <td><input data-bind="textInput: value" /></td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        <td>
      </tr>
    <tbody>
  </table>

 <table>
    <tbody data-bind="keyvalue: value.variables">
      <tr>
        <td data-bind="text: key"></td>
        <td><input data-bind="textInput: value" /></td>
      </tr>
    <tbody>
  </table>

</div>

  

